In [59]:
import pandas as pd
from datetime import datetime
import numpy as np
import matplotlib.pyplot as plt
import glob
%matplotlib inline

## Load data from CSV files

In [60]:
def str_to_float(s):
    try:
        # Parse strings with decimal (,) separators
        return float(s.replace(',','.')) if type(s) == str else s
    except ValueError:
        return None

def str_to_date(s):
    try:
        # Parse dates 19300710
        return datetime.strptime(s,'%Y%m%d') if type(s) == str else s
    except ValueError:
        return None

In [61]:
file_folder = "C:\\Users\\Simon\\Downloads\\décès\\"
    
all_files = glob.glob(file_folder + "*.csv")

li = []
for filename in all_files:
    df = pd.read_csv(
        filename,
        sep=';',
        index_col=None,
        header=0,
        converters={'datenaiss': str_to_date,
                        'datedeces': str_to_date},
        low_memory=False
    )
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [62]:
## grouped_df = frame.groupby(by=df['datedeces'].dt.date).count()
grouped_df = frame.groupby(df['datedeces'].dt.date).size().reset_index(name='Count')

In [63]:
grouped_df_test = grouped_df
grouped_df_test = grouped_df_test.sort_values(by='datedeces', ascending=False)

In [64]:
grouped_df_test.head(10)

       datedeces  Count
1775  2020-12-30    205
1774  2020-12-29    823
1773  2020-12-28   1408
1772  2020-12-27   1507
1771  2020-12-26   1491
1770  2020-12-25   1492
1769  2020-12-24   1560
1768  2020-12-23   1686
1767  2020-12-22   1778
1766  2020-12-21   1702

In [67]:
path = 'C:\\Users\\Simon\\iCloudDrive\\iCloud~AsheKube~Carnets\\covid-data\\data-preparation\\daily-death.csv'
grouped_df_test.to_csv(path, header=True, index=False)